body {
    font-family: sans-serif;
    border: 5px red solid;
    text-align: center;
    color: darkgray;
}
/* Селектор тега (типа), общие элементы - 0001 */
h1 {
    color: blue;
    font-family: initial; /*выключает наслетственность*/
    border: inherit; /*включает наследственнось*/
}

a {
    color: inherit;
    text-decoration: none; /*выключить на ссылках нижнее подчеркивание*/
}

/* Селектор класса - 0010 */
.annotation {
    font-size: 10px;
}

/* Селектор идентификатора б чаще для JavaSkript не для стилей - 0100*/
#subscribe-btn {
    color: red !important; 
}
/* Исключения отмечаются !important - но лучше не использовать, очень плохая практика */

/* subscribe-brn : cebab-case
subscribeBtn :     camelCase
                    lowerCamelCase
                     UpperCamelCase (PascalCase)
subscribe_btn : snake_case 
*/